.login_form {
    width: 304px;
    margin: 90px auto;
    text-align: center;
}

.login_form .find {
    margin-bottom: 10px;
    text-align: right;
    text-decoration: underline;
    font-size: .9em;
    color: #e69a83;
}

.login_form input[type=text],
.login_form input[type=password] {
    width: 292px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    vertical-align: middle;
    font-size: 1em;
    color: #3d3d3d;
    border: 1px solid #dfdfdf;
}

.login_form .saveid_section {
    margin-bottom: 22px;
    text-align: left;
}

.login_form input[type=submit] {
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #e69a83;
    border: none;
    cursor: pointer;
}

.login_form .signin {
    color: #e69a83;
    text-decoration: underline;
}
