.category_menu {
    font-size: 1em;
    margin-bottom: 0;
}

.period_select {
    float: right;
    margin-top: calc(-30px - .5em);
    font-size: .875em;
    color: #585858;
}
.period_select input[type=radio] {
    display: none;
}
.period_select input[type=radio] + label {
    float: left;
    width: 47px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #dfdfdf;
    cursor: pointer;
}
.period_select input[type=radio] + label:nth-of-type(n+2) {
    margin-left: -1px;
}
.period_select input[type=radio]:checked + label {
    background-color: #dfdfdf;
}
.period_select .input_period {
    float: left;
    margin-left: 15px;
}
.period_select .input_period input[type=date] {
    float: left;
    width: 120px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #dfdfdf;
}
.period_select .input_period span {
    float: left;
    height: 26px;
    line-height: 26px;
    margin: 0 10px;
}
.period_select .input_period .search {
    width: 44px;
    height: 26px;
    line-height: 26px;
    margin-left: 15px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #e69a83;
    border: none;
    cursor: pointer;
}

.order_list tbody tr.disabled {
    opacity: .3;
    pointer-events: none;
}
.order_list tbody .select {
    width: 30px;
    text-align: center;
}
.order_list tbody .date_id {
    width: 120px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}
.order_list tbody .date_id .id {
    font-weight: bold;
}
.order_list tbody .product .product_img {
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    margin-right: 15px;
    vertical-align: middle;
}
.order_list tbody .product .product_img img {
    width: 100%;
    vertical-align: middle;
}
.order_list tbody .product .product_info {
    display: inline-block;
    line-height: 1.5em;
    vertical-align: middle;
}
.order_list tbody .order_price {
    width: 70px;
    text-align: center;
}
.order_list tbody .order_status {
    width: 140px;
    line-height: normal;
    text-align: center;
}
.order_list tbody .shippingnum {
    font-weight: bold;
}
.order_list tbody .order_cancel {
    width: 120px;
    text-align: center;
}
.order_list tbody .order_cancel button {
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: .9em;
    font-weight: bold;
    border: 1px solid #dfdfdf;
}
.order_list tbody .order_cancel button:nth-child(n+2) {
    margin-top: 6px;
}
.order_list tbody .order_cancel .review {
    color: white;
    background-color: #e69a83;
    border: none;
}
.order_list tbody .order_cancel .cancel,
.order_list tbody .order_cancel .return {
    color: #a3a3a3;
}

#modal_return .modal_body {
    width: 950px;
    height: 878px;
    padding: 0 45px;
    line-height: normal;
}
#modal_return .option_container {
    margin-top: 80px;
    padding-bottom: 14px;
    border-bottom: 1px solid #e69a83;
}
#modal_return .order_list tr td {
    padding: 10px;
}
#modal_return .order_list .order_price {
    width: 120px;
    color: #9d9d9d;
}
#modal_return .form {
    display: none;
    margin-top: 40px;
    text-align: center;
    color: #383838;
}
#modal_return .form .reason {
    display: block;
    width: 305px;
    height: 40px;
    margin: 20px auto 0 auto;
    padding-left: 5px;
    font-size: 1em;
    color: #3d3d3d;
    border: 1px solid #dfdfdf;
}
#modal_return .form textarea {
    display: block;
    width: 500px;
    color: #3d3d3d;
    border: 1px solid #dfdfdf;
}
#modal_return .exchange_form.form textarea {
    height: 155px;
    margin: 30px auto 0 auto;
}
#modal_return .return_form.form textarea {
    height: 105px;
    margin: 20px auto 0 auto;
}
#modal_return .form .submit {
    display: block;
    width: 305px;
    height: 40px;
    margin: 20px auto 0 auto;
    color: white;
    background-color: #e69a83;
}
