table.product_list tbody tr {
    height: 120px;
    line-height: 120px;
}

table.product_list tbody .product_img {
    float: left;
    width: 120px;
    height: 120px;
    line-height: 120px;
    margin-right: 20px;
}

table.product_list tbody .product_img img {
    width: 100%;
}

table.product_list tbody .product_info {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

table.product_list tbody .product_info .creator {
    margin-bottom: 10px;
    font-size: .8em;
}

table.product_list tbody .product_info .name {
    margin-bottom: 15px;
    font-size: 1.25em;
}

table.product_list tbody .product_amount {
    text-align: center;
}

table.product_list tbody .product_amount .wrapper {
    display: inline-block;
    vertical-align: middle;
}

table.product_list tbody .product_amount .wrapper > *:nth-child(n+2) {
    margin-left: -1px;
}

table.product_list tbody .product_shippingfee,
table.product_list tbody .product_price {
    text-align: center;
    color: #747474;
}

#contents .sum_price {
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
}

#contents .sum_price .wrapper {
    display: inline-block;
    margin: 0 auto;
}

#contents .sum_price .wrapper > div {
    display: inline-block;
    vertical-align: middle;
}

#contents .sum_price .term .caption {
    margin-bottom: 15px;
    color: #747474;
    letter-spacing: -.15em;
}

#contents .sum_price .term .price {
    font-size: 1.25em;
    letter-spacing: 0.01em;
}

#contents .sum_price .operator {
    margin: 0 60px;
    font-size: 1.8em;
    color: #747474;
}

.order_form {
    margin-top: 20px;
}

.order_form .row {
    margin-top: 15px;
}

.order_form .row::after {
    content: '';
    display: block;
    clear: both;
}

.order_form .row > * {
    float: left;
}

.order_form .row label {
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    color: #3d3d3d;
}

.order_form .row input {
    height: 38px;
    line-height: 38px;
    vertical-align: top;

    font-size: 1em;
    border: 1px solid #dfdfdf;
}

.order_form .row input.text,
.order_form .row input.password,
.order_form .row input.email {
    color: #3d3d3d;
    width: 287px;
    padding: 0 0 0 15px;
}

.order_form .row input.tel {
    width: 84px;
    text-align: center;
}

.order_form .email_message {
    height: 40px;
    line-height: 40px;
    margin-top: 40px;
    margin-left: -250px;
    color: #c4c4c4;
}

.order_form .required {
    font-weight: bold;
    font-size: 1.5em;
    color: red;
}

.order_form .pnumber span {
    width: 23px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #3d3d3d;
}

.order_form .terms {
    margin-top: 50px;
    padding: 19px;
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}

.order_form .terms .title {
    margin-bottom: 14px;
    font-weight: bold;
    color: #2d2d2d;
}

.order_form .terms .result {
    height: 305px;
    line-height: normal;
    padding-top: 10px;
    overflow-y: auto;
    word-break: keep-all;
    color: #2d2d2d;
    border-top: 1px solid #ccc;
}

.order_form .acceptchk {
    margin: 20px 0 0 29px;
}

.order_form .acceptchk + label {
    margin: 10px 0 0 19px;
}

.order_form .button_container {
    margin: 107px 0 255px 0;
    text-align: center;
}

.order_form .address_button {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    font-size: 1em;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    background-color: #e69a83;
}

.order_form .post_section {
    margin-top: 10px;
    text-align: left;
}

.order_form .post_section .savepost {
    margin-left: 10px;
}

.order_msg {

}

.row #order_big {
    margin-left: 158px;
    width: 390px;
}

.row #order_bbig {
    width: 390px;
}

.row .order_message, .order_warning {
    padding-top: 20px;
    padding-left: 13px;
}

.row .order_warning {
    color: red;
    padding-bottom: 50px;
}

.required_message {
    display: inline-block;
    float: right;
    padding-top: 10px;
    font-size: 1.0em;
}

.required {
    font-weight: bold;
    font-size: 1.5em;
    color: red;
}

.order_button_cont {
    padding-top: 100px;
    text-align: center;
}

 .order_button_cont button {
    width: 140px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.order_button_cont .order_prev {
    background-color: #c0c0c0;
}

.order_button_cont .order_charge {
    background-color: #e69a83;
}
