.message_container {
    margin: 105px 0;
    text-align: center;
}
.message_container p {
    font-size: 1.25em;
}
.message_container a {
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    margin-top: 45px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #e69a83;
}
