.write_cont {
    float: right;
    margin-top: -45px;
}

.write {
    margin-top: 10px;
    width: 150px;
    height: 35px;
    line-height: 30px;
    font-size: .9em;
    font-weight: bold;
    border: 1px solid #dfdfdf;
    color: white;
    background-color: #e69a83;
    border: none;
}

table.board tbody .row_subject .time {
    width: 150px;
    text-align: center;
    letter-spacing: .05em;
    color: #747474;
}
table.board tbody .row_subject .subject {
    font-weight: bold;
}
table.board tbody .row_post {
    display: none;
    background-color: #fafafa;
}
table.board tbody .row_post .type {
    text-align: right;
    font-size: 1.3em;
    font-weight: bold;
}
