.write_cont {
    float: right;
    margin-bottom: 50px;

}

.write {
    margin-top: 10px;
    width: 150px;
    height: 35px;
    line-height: 30px;
    font-size: .9em;
    font-weight: bold;
    border: 1px solid #dfdfdf;
    color: white;
    background-color: #e69a83;
    border: none;
}

#contents .title{
    margin: 15px;
    width: 98%;
    padding: 10px 10px 10px 10px;
}
