
#contents .link_menu{
  margin-bottom: 25px;
}
table td{
  color: #979797;
}
.btn-promotion-apply{
  float: right;
  background-color: #e69a83;
  color: white;
  padding: 10px;
  width: 120px;
  font-size:16px;
}
#table-promotion-apply td{
  text-align: center;

}
#table-promotion-apply .btn-cancel-apply{
  border: solid 1px #797979;
  color: #797979;
  padding: 5px;
  font-size: 14px;
  margin-top: 5px;
}
#table-promotion-apply .product{
  text-align: left;
}
#table-promotion-apply .state-text{
  font-weight: bold;
}
.product .product_info,
 .seller{
  color: #747474;
}
.order_list tbody .product{
  text-align: left;
}
.order_list tbody .product .product_img {
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    margin-right: 15px;
    vertical-align: middle;
}
.order_list tbody .product .product_img img {
    width: 100%;
    vertical-align: middle;
}
.order_list tbody .product .product_info {
    display: inline-block;
    line-height: 1.5em;
    vertical-align: middle;
}
.order_list tbody .seller, .product_price,.num_of_sales {
    width: 70px;
    text-align: center;
}

.order_list tbody .sales_price {
    width: 120px;
    text-align: center;
}

#modal_promotion_apply .area_search{
  display: block;
  margin: auto;
  border: 1px solid #b2b2b2;
}

#modal_promotion_apply .title{
  text-align: center;
  color: #797979;
  margin-bottom: 15px;
}

#modal_promotion_apply .modal_body{
  width: 800px;
  height: 675px;
  padding: 50px;
  text-align: center;
}
#modal_promotion_apply td{
  padding: 5px;
  border: none;
  color: #797979;
}
#modal_promotion_apply .submit{
  width: 250px;
  background-color: #e69a83;
  color: white;
  padding: 10px;
  font-size: 16px;
  margin-top: 50px;
}
#modal_promotion_apply tbody .product .product_img{
  width: 90px;
  height: 90px;
  line-height: 90px;
}
