

.profile_area {
    margin-top: 40px;
}

#contents .creator_field .creator_name, .creator_contents {
    text-align: center;
}

#contents .creator_field .creator_name {
    line-height: 40px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

#contents .creator_field .creator_contents {
    font-size: 1.2em;
}

.submit_cont {
    margin-top: 70px;
    text-align: center;
}

.submit {
    margin-top: 10px;
    width: 150px;
    height: 35px;
    line-height: 30px;
    font-size: .9em;
    font-weight: bold;
    border: 1px solid #dfdfdf;
    color: white;
    background-color: #e69a83;
    border: none;
}

.bg_size {
    position: absolute;
    margin-top: -170px;
    margin-left: 20px;
    background-color: black;
    z-index: 2;
    width: 130px;
    height: 40px;
    opacity: 0.5;
}

.bg_size p {
    color: white;
    margin-top: 12px;
    margin-left: 30px;
}

.creator_profile_bg_img {
    width: 1180px;
    height: 450px;
}

.creator_profile_img_container{
  border: 4px solid white;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: -150px;
  border-radius:129px;
  width:258px;
  height:258px;
  overflow:hidden
}
.creator_profile_img {
    width: 100%;
    height: 100%;
}

#contents .creator_profile, .creator_profile_name, .creator_profile_contents {
    text-align: center;
}

textarea {
    margin-top: 10px;
    border: 1px solid #dfdfdf;
    resize: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
    margin-right: 10px;
}
.creator_sns{
  width: 600px;
  margin: auto;
}
.creator_sns .sns-item{
  margin: 15px 0;
  text-align: left;
}
.creator_sns .sns-item input, .creator_sns .sns-item label, .creator_sns .sns-item img{
  vertical-align: middle;
}

.creator_sns .sns-item input{
  padding: 10px;
  width: 400px;
}

.creator_sns .sns-item img{
  width: 32px;
  margin: 0 15px;
}

.creator_sns .sns-item .item-checkbox{
  visibility: hidden;
}

.creator_sns .sns-item .item-url{
  float: right;
}
.creator_sns .sns-item .input-label{
  color: #979797;
}

.filebox-profile{
  background-color: rgba(0,0,0,0.5);
  height: 20%;
  overflow: auto;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.filebox-profile input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.filebox-profile label {
  display: inline-block;
  padding: 15px 5px;
  color: #999;
  font-size: inherit;
  line-height: normal;
  cursor: pointer;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.filebox label {
  display: inline-block;
  padding: 3px 5px;
  color: #999;
  font-size: inherit;
  line-height: normal;
  cursor: pointer;
  vertical-align: middle;
}
