.marginTop50{
  margin-top: 50px;
}
.marginBottom50{
  margin-bottom: 50px;
}
.chart-container{
  margin-right: 30px;
}
.chart-container,
.chart-label{
  display: inline-block;
  vertical-align: middle;
}
.chart-label{
  padding-top: 15px;
  margin: auto;
  width: 235px
}
.chart-label li{
  padding-bottom: 15px;
}
.chart-label li span{
  font-size: 16px;
}
.chart-label .chart-item-label{
  padding-right: 30px;
}
.chart-label .chart-item-label.none-icon{
  padding-left: 14px;
}
.chart-label .chart-item-value{
  float: right;
  color: #A8A8A8;
}
.chart-label li i{
  top:auto;
}
.chart-label li:first-child{
  color:black;
}
.chart-label li:first-child .chart-item-value{
  color: black;
}
.chart-label li:nth-child(2){
  color:#2FA5AB;
}
.chart-label li:nth-child(3){
  color: #718CB4;
}
.chart-label li:nth-child(4){
  color: #69A17F;
}
.chart-label li:nth-child(5){
  color: #CDC35D;
}
.chart-label li:nth-child(6){
  color: #A8A8A8;
}
#total-sales .chart-label .chart-item-value{
  color: black;
}
#total-sales .chart-label i{
  color: white;
}
.btn-custom-group button{
  padding: 4px 7px;
  margin: 0;
}
.btn-custom-group button:hover{
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-custom-group button:first-child{
  border: solid 1px #d8d8d8;
  border-right: 0;
  border-radius: 2px;
  margin-right: -4px;
}
.btn-custom-group button:nth-child(2){
  border: solid 1px #d8d8d8;
}
.btn-custom-group button:last-child{
  border: solid 1px #d8d8d8;
  border-left: 0;
  border-radius: 2px;
  margin-left: -4px;
}
