#vd-member .table>tbody>tr>td,
#vd-member .table>tbody>tr>th,
#vd-member .table td{
  border: none;
}

#vd-member .table thead tr th{
  border-bottom: solid 1px #d8d8d8;
}
#vd-member .username a,
#vd-member .username a:hover,
#vd-member .username a:focus
{
  color: black;
  text-decoration: none;
}
