.nav{
  margin-bottom: 15px;
}

#vd-sales-list .btn-container{
  padding: 0 0 15px 0;
}

#vd-sales-list .product-list{
  padding-bottom: 50px;
}
#vd-sales-list .sales-number a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#vd-sales-list .title-group{
  height: 107px;
  padding: 22px 0;
}

#vd-sales-list .product-item .state,
#vd-sales-list .product-item .sales-date{
  color: #999999;
}

#vd-sales-list .product-item .sales-date,
#vd-sales-list .product-item .title a,
#vd-sales-list .product-item .title p span{
  color: #747474;
}

#vd-sales-list .state button{
  margin-top: 10px;
}

#vd-sales-list .modal{
  background: rgba(0,0,0,0.2);
}
#vd-sales-list .modal .modal-content{
  border-radius: 0;
  border: none;
  box-shadow: 0 6px 12px rgba(140, 135, 135, 0.3)
}
#vd-sales-list .modal-dialog .modal-header{
  display: block;
  border-bottom: none;
  padding:0 15px;
}
#vd-sales-list .modal .modal-dialog{
  transform: translate(0,10%);
  width: 700px;
  max-width: 700px
}
#vd-sales-list .modal .title{
  padding-bottom: 15px
}
#vd-sales-list .btn-close{
  color: #e69a83;
  font-size: 40px;
  opacity: 1;
}
#vd-sales-list .btn-close span{
  float: right;
  margin-right: 10px;
  font-weight: lighter;
}
#vd-sales-list .modal-body{
  padding: 0px 15px 30px 15px;
}

#vd-sales-list .order-detail-table td,
#vd-sales-list .order-detail-table th,
.order-detail-table>tbody>tr>td,
.order-detail-table>tbody>tr>th
{
  border: 0;
  text-align: left;
  padding: 10px auto;
}
.order-detail-table>tbody>tr>th{
  width: 10px;
  padding-left: 5px;
}
.order-detail-table .order-detail-item-label{
  font-weight: bold;
}
.order-detail-item{
  text-align: left;
  padding: 0
}

#order-detail-modal .modal_body{
  width: 800px;
  height: 878px;
  padding: 0 45px;
  line-height: normal;
}

#order-detail-table th, #order-detail-table td{
  border-bottom: 0;
}

#order-detail-table th{
  width: 100px;
}
#order-detail-modal .order-product-item{
  padding-bottom: 15px;
}
#order-detail-modal .order-product-item p{
  padding-bottom: 5px;
}
#order-detail-modal .order-product-item .title,
#order-detail-modal .order-product-item .shipping-company{
  font-weight: bold;
  color: black;
}
#order-detail-modal .order-product-item span{
  margin-right: 15px;
}

#order-detail-table td{
  color: #747474;
}
.request-exchange-modal .admin-header-gray{
  border-color: #e69a83;
}
.request-exchange-modal .submit{
  width: 300px;
  display: block;
  margin: auto;
}
.request-exchange-modal .order-list{
  max-height: 400px;
  overflow-y: scroll;
}
.request-exchange-modal .product-item td:first-child{
  width: 130px;
}
.request-exchange-modal .contents{
  min-height: 100px;
  padding: 15px;
}
.request-exchange-modal .contents .comment,
.request-exchange-modal .contents .return-reason{
  font-size: 1.1em;
  color: #797979;
}
.request-exchange-modal .contents .return-reason{
  padding-bottom: 10px;
}
