table.board tbody .row_subject .time {
    width: 150px;
    text-align: center;
    letter-spacing: .05em;
    color: #747474;
}
table.board tbody .row_subject .subject {
    font-weight: bold;
}
table.board tbody .row_post {
    display: none;
    background-color: #fafafa;
}
table.board tbody .row_post .type {
    text-align: right;
    font-size: 1.3em;
    font-weight: bold;
}
