html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
template {
    display: none;
}

.overlay_container {
    position: relative;
}
.overlay_container::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
    background-color: #383838;
}
.overlay_container:hover::before {
    opacity: .8;
}
.overlay_container .overlay {
    position: absolute;
    color: white;
    bottom: 0;
    padding: 15px;
    opacity: 0;
    transition: opacity .5s;
}
.overlay_container:hover .overlay {
    opacity: 1;
}

header .area_links {
    height: 35px;
    line-height: 35px;
    width: 1180px;
    margin: 0 auto;
    font-size: .9em;
}
header .area_links .menu {
    list-style: none;
}
header .area_links .menu_left {
    float: left;
}
header .area_links .menu_right {
    float: right;
}
header .area_links .menu li {
    float: left;
}
header .area_links .menu li:nth-child(n+2)::before {
    content: '|';
    margin: 0 1em;
}

header .area_logo {
    width: 1180px;
    margin: 0 auto;
    text-align: center;
    padding: 35px 0;
}
header .area_logo .logo_wrapper {
    display: block;
    margin: 0 auto;
}
header .area_logo .logo_wrapper .logo {
    width: 250px;
}
header .area_logo .area_search {
    position: relative;
    float: right;
    top: -70px;
    border-bottom: 1px solid #b2b2b2;
}
header .area_logo .area_search .search {
    border: none;
}
header .area_logo .area_search .input_search {
    float: left;
    width: 230px;
    height: 20px;
    line-height: 20px;
    padding: 8px;
    padding-right: 0;
    outline: none;
}
header .area_logo .area_search .submit_search {
    float: left;
    width: 36px;
    height: 36px;
    padding: 0;
    background: url("../images/buttons/search.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#contents {
    clear: both;
    width: 1180px;
    margin: 0 auto;
}

footer {
    clear: both;
    width: 1180px;
    height: 230px;
    line-height: 230px;
    margin: 50px auto 0 auto;
    font-size: .9em;
    letter-spacing: -.05em;
    border-top: 1px solid #dcdcdc;
}
footer .title {
    font-weight: bold;
}
footer .middle_section {
    float: left;
    height: 100%;
}
footer .middle_section .container {
    display: inline-block;
    vertical-align: middle;
}
footer .area_logo {
    float: left;
    width: 240px;
    height: 100%;
    text-align: center;
}
footer .area_logo .logo {
    width: 200px;
    vertical-align: middle;
}
footer .area_links {
    line-height: normal;
    padding-bottom: 20px;
    font-weight: bold;
}
footer .area_links li {
    display: inline-block;
}
footer .area_links li:nth-child(n+2) {
    margin-left: 1em;
}
footer .area_copyright {
    width: 650px;
    line-height: normal;
}
footer .area_contact {
    float: left;
    width: 290px;
    height: 100%;
}
footer .area_contact .wrapper {
    display: inline-block;
    line-height: normal;
    padding-left: 45px;
    vertical-align: middle;
    border-left: 1px solid #9e9e9e;
}
