#contents .floating {
    display: inline-block;
    position: fixed;
    left: 50%;
    margin-left: 610px;
    text-align: center;
    font-size: .9em;
}
#contents .floating p {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: .5em;
    letter-spacing: -.1em;
}
#contents .floating .badge {
    position: relative;
}
#contents .floating .badge .badge_image {
    position: absolute;
    margin-left: -13px;
}
#contents .floating .badge .badge_text {
    position: absolute;
    top: -.2em;
    right: -.2em;
    width: 1em;
    height: 1em;
    line-height: .9em;
    border-radius: 1em;
    background-color: red;
    color: white;
}

#contents .banner {
    border: none;
    margin-bottom: 0;
}
#contents .banner li img {
    float: left;
    width: 236px;
}
