#contents .floating {
    display: inline-block;
    position: fixed;
    left: 50%;
    margin-left: 610px;
    text-align: center;
    font-size: .9em;
}
#contents .floating p {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: .5em;
    letter-spacing: -.1em;
}
#contents .floating .badge {
    position: relative;
}
#contents .floating .badge .badge_image {
    position: absolute;
    left: 0;
}
#contents .floating .badge .badge_text {
    position: absolute;
    top: -.2em;
    right: -.2em;
    width: 1em;
    height: 1em;
    line-height: .9em;
    border-radius: 1em;
    font-weight: bold;
    background-color: red;
    color: white;
}

#contents .banner {
    border: none;
    margin-bottom: 0;
}
#contents .banner li img {
    float: left;
    width: 236px;
}
#contents .banner li .overlay_container {
    float: left;
}
#contents .banner li .overlay {
    bottom: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#contents .category_menu {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
}
#contents .category_menu::after {
    content: ' ';
    display: block;
    clear: both;
}
#contents .category_menu li {
    float: left;
    padding: .5em 1em;
    color: #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
}
#contents .category_menu li.actived {
    color: #e69a83;
    border-bottom: 1px solid #e69a83;
}
#contents .category_menu li:last-child {
    float: none;
}
#contents .category_menu li:nth-child(n+2):nth-last-child(n+2) {
    padding-left: 0;
}
#contents .category_menu li:nth-child(n+2):nth-last-child(n+2)::before {
    content: '|';
    padding-right: 1em;
    font-weight: lighter;
}

#contents .category::after {
    content: ' ';
    display: block;
    clear: both;
}

#contents .best_seller .item {
    float: left;
}
#contents .best_seller .item > img {
    float: left;
}
#contents .best_seller .item .overlay .product_name {
    margin-bottom: .3em;
}
#contents .best_seller .item .overlay .product_price {
    font-size: .9em;
}

#contents .creator {
    margin-bottom: -20px;
}
#contents .creator .item {
    float: left;
    position: relative;
    border: 1px solid #e1e1e1;
    padding: 3px;
    margin: 0 7px 20px 7px;
    cursor: pointer;
}
#contents .creator .item > img {
    border: 1px solid #e1e1e1;
    padding: 5px;
    width: 261px;
    height: 305px;
}
#contents .creator .item.actived {
    border: 1px solid #383838;
    background-color: #383838;
}
#contents .creator .item.actived > img {
    border: 1px solid #383838;
}
#contents .creator .item.actived::after {
    content: ' ';
    position: absolute;
    top: 326px; /* 327 - 1 */
    left: 121.5px; /* 273/2 - 15 */
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 17px solid #383838;
}
#contents .creator .creator_detail {
    float: left;
    display: none;
    width: 1166px; /* 1180 - 7 - 7 */
    margin: 0 0 20px 7px;
    background-color: #383838;
    font-size: 0;
}
#contents .creator .creator_detail .creator_background {
    display: inline-block;
    width: 747px;
    height: 350px;
    vertical-align: middle;
}
#contents .creator .creator_detail .creator_image {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 85px;
    margin-left: -85px; /* 170/2 */
    vertical-align: middle;
    border: 5px solid white;
    overflow: hidden;
}
#contents .creator .creator_detail .creator_image img {
    width: 100%;
}
#contents .creator .creator_detail .creator_profile {
    display: inline-block;
    width: 284px;
    padding: 0 25px;
    vertical-align: top;
    font-size: 1rem;
    vertical-align: middle;
    color: white;
}
#contents .creator .creator_detail .creator_profile .creator_name {
    font-size: 1.3em;
    margin-bottom: 20px;
}
#contents .creator .creator_detail .creator_profile .creator_name::after {
    content: ' ▶';
}
#contents .creator .creator_detail .creator_profile .creator_message {
    font-size: .7em;
    line-height: 1.4em;
    margin-bottom: 20px;
}
