.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 500ms ease-in;
    pointer-events: none;
}
.modal.actived {
    opacity: 1;
    pointer-events: auto;
}

.modal .close_section {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    cursor: default;
}
.modal .close_button {
    float: right;
    margin: 25px -15px 0 0;
}

.modal .modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    overflow: auto;
}
