.post .title {
    margin-top: 45px;
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 1.1em;
    font-weight: bold;
    color: #383838;
    border-bottom: 1px solid #e69a83;
}
.post .time {
    margin-top: 12px;
    padding-left: 7px;
    color: #383838;
    letter-spacing: .01em;
}
.post .result {
    margin-bottom: 30px;
    padding: 50px 0 40px 7px;
    line-height: normal;
    color: #2d2d2d;
    border-bottom: 1px solid #9e9e9e;
}
.post .goback {
    display: inline-block;
    width: 120px;
    height: 34px;
    line-height: 34px;
    font-size: .9em;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #c0c0c0;
}
